/* static/css/styles.css */

/* Navbar */
.navbar {
    background-color: #2d3e50;
}

.navbar .navbar-item,
.navbar .navbar-link {
    color: #000000;
}

.navbar .navbar-item:hover,
.navbar .navbar-link:hover {
    background-color: #1a252f;
}

/* Tabs */
.tabs ul li.is-active a {
    background-color: #2d3e50;
    color: #fff;
}

/* Conteúdo das Tabs */
.tab-content {
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }
}

/* Ajustar o tamanho dos gráficos em dispositivos móveis */
canvas {
    width: 100% !important;
    height: auto !important;
}

/* Garantir que as tabelas sejam responsivas */
.table-container {
    overflow-x: auto;
}

/* Estilo dos cards de produtos */
.card {
    margin-bottom: 20px;
}

/* Ajustar tabelas para serem responsivas */
.table-container {
    overflow-x: auto;
}
