<!-- templates/produtos.html -->
{% extends 'base.html' %}
{% block content %}

    <!-- Modal de Notificações -->
    <div id="notification-modal" class="modal">
        <div class="modal-background" onclick="document.getElementById('notification-modal').classList.remove('is-active')"></div>
        <div class="modal-content">
            <div class="box">
                <h2 class="title is-4">📢 Notificações</h2>
                <ul id="modal-notifications-list" class="notifications-list"></ul>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="document.getElementById('notification-modal').classList.remove('is-active')"></button>
    </div>

<h1 class="title">Produtos</h1>

<!-- Barra de Pesquisa e Filtros -->
<div class="field has-addons">
    <div class="control is-expanded">
        <input class="input" type="text" id="searchInput" placeholder="Pesquisar produtos por nome">
    </div>
    <div class="control">
        <button class="button is-primary" id="searchButton">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
            <span>Pesquisar</span>
        </button>
    </div>
</div>

<div class="field">
    <div class="control">
        <div class="select is-fullwidth">
            <select id="categoryFilter">
                <option value="">Todas as Categorias</option>
                <!-- As opções serão carregadas via JS -->
            </select>
        </div>
    </div>
</div>

<!-- Lista de Produtos -->
<div id="listaProdutos"></div>

<!-- Scripts -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        carregarCategorias();
        fetchProdutos();
        initializeDarkMode(); // Verifica e aplica o modo escuro
    fetchNotificacoes();




        // Event listeners para pesquisa e filtro
        document.getElementById('searchButton').addEventListener('click', fetchProdutos);
        document.getElementById('categoryFilter').addEventListener('change', fetchProdutos);
        document.getElementById('searchInput').addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                fetchProdutos();
            }
        });
    });
</script>
{% endblock %}
